<div th:replace="shared/top"></div>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Edição de Administrador</h1>
                    <p class="mb-4">Aqui iremos editar um  administrador.</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4" style="padding:  30px;">
                        <form method="POST" th:action="@{'/administradores/' + ${administrador.id} + '/atualizar'}" action="/administradores/c">
                            <div class="form-group">
                                <label for="nome">Nome</label>
                                <input type="text" class="form-control" th:value="${administrador.nome}" required id="nome" name="nome" placeholder="Digite seu nome.">
                            </div>
                            <div class="form-group">
                                <label for="nome">Email</label>
                                <input type="email" class="form-control" th:value="${administrador.email}" required id="email" name="email" placeholder="Digite seu e-mail.">
                            </div><div class="form-group">
                            <label for="nome">Senha</label>
                            <input type="password" class="form-control" th:value="${administrador.senha}" required id="senha" name="senha" placeholder="Digite sua senha.">
                        </div>
                            <div class="form-group">
                                <label for="nome">Observação</label>
                                <textarea class="form-control" id="observacao" name="observacao" placeholder="Digite sua observação." th:inline="text">[[${administrador.observacao}]]</textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </form>
                    </div>

                </div>
                <!-- /.container-fluid -->
<div th:replace="shared/footer"></div>